.bg-dark {
    background-color: rgb(56, 56, 56) ;
}

.custom-buttons > div,  .custom-buttons > button{
    border-color: white;
}

.shopping-cart {
    position: fixed;
    top: 0px;
    right: 10px;
}